<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saavn_app_praneeth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/savan_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jio_savan_logo_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Saavn_App_Praneeth">
        <service
            android:name=".MusicPlayerService"
            android:exported="false"></service>

        <activity android:name=".SlideActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicActivity" />
        <activity android:name=".Search_activity" />
        <activity android:name=".SelectionActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>